<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/imports.html}"/>
    <title>Sign up</title>
</head>
<body>
<div class="container auth-box">
    <form class="col flex-column" th:action="@{/auth/register}"
          id="signUpForm"
          method="post">
        <div class="row">
            <div class="col px-1 mb-2">
                <label class="ms-2 position-absolute mtext" for="username">
                    <span class="h6 small bg-white text-muted px-1">Email</span>
                </label>
                <input class="form-control mt-2" id="username" name="username" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col px-1 mb-2">
                <label class="ms-2 position-absolute mtext" for="password">
                    <span class="h6 small bg-white text-muted px-1">Password</span>
                </label>
                <input class="form-control mt-2" id="password" name="password" type="password">
            </div>
        </div>
        <div class="row justify-content-end">
            <span class="col-auto px-1 mb-2">
                <button class="btn btn-jade" type="submit">Sign up</button>
            </span>
        </div>
    </form>
</div>
</body>
</html>